body {
    color: red;
}

/* @media (max-width: 500px) {
    body {
        color:blue;
    }
} */

@media (orientation: portrait) {
    .title {
        color:yellow;
        background-color: black;
        text-align: center;
/* Recommend to use percentages for margins and padding, so they stay relative in size for different devices */
        padding: 5%;
/* Twice the default if on a portrait screen */
        font-size: 2em;
    }
}

@media (orientation: landscape) {
    .subtitle {
        color: green;
        background-color: orange;
        text-align: center;
        padding: 5%;
/* Four times the default size if viewing on a landscape screen */
        font-size: 4em;
    }
}

/* The default CSS for this is to hide whatever is in both span classes */
.desktop, .mobile {
    display: none;
}

/*When in landscape mode, display the .desktop span */
@media (orientation: landscape) {
    .desktop {
        display: inline-block;
    }
}

/* When in portrait mode, display the .mobile span */
@media (orientation: portrait) {
    .mobile {
        display: inline-block;
    }
}